/* NotFound.css */


.not-found-container {
    padding-top: 50px;
}

.not-found-display-1 {
    font-size: 6rem;
    font-weight: 700;
}

.lead {
    font-size: 1.25rem;
}

.not-found-img {
    max-width: 100%;
    height: auto;
}
